
.page{  
    text-align: center;
    height: 100vh;
    display: flex;
    background-color: #324251;
    justify-content: center;
    align-items: center;

}
.card{  
    
    padding: 32px;
    color: white;
    border-radius: 13px;
    background-color: #16202a;
    
   
}

.gohome{ 
    display: block;
    margin-top: 16px;
    padding: 16px;
    border: 2px solid #1272d2;
    width: inherit;
    border-radius: 80px;
    transition: 500ms ease-in-out; 


}
.gohome:hover{
    background-color: rgb(6, 168, 232);
    cursor: pointer;
}