
.page{  
    text-align: center;
    height: 100vh;
    display: flex;
    background-color: var(--backgroundColor);
    justify-content: center;
    align-items: center;

}
.card{  
    
    padding: 32px;
    color: var(--primaryTextColor);
    border-radius: var(--padding);
    background-color: var(--cardColor);
    
   
}

.gohome{ 
    display: block;
    margin-top: 64px;
    padding: var(--padding);
    border: 2px solid var( --primaryColor);
    width: inherit;
    border-radius: 80px;
    transition: 500ms ease-in-out; 


}
.gohome:hover{
    background-color:var(--primaryColor);
    cursor: pointer;
}