.home{
    background-color: var(--backgroundColor);
}

.main { 
    margin: auto;
    margin-top: calc(-5*var(--padding));
    max-width:  1440px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: var(--padding);
    padding: var(--padding);
    z-index: 1;
    min-height: 100vh;
   
}
.imgs{
   width: 100%; 
   height: 240px;
   object-fit: cover;
   z-index: -1;
}
.homePage {
    border-radius:var(--borderRadius);
    border: 1px solid var(--secondaryColor);
    padding: var(--padding);
    font-size: 32px;
    text-align: center;
    height:512px;
    background-color: var(--cardColor);
    color: var(--primaryTextColor);
}

.page{
    display: flex;
}
.heading{
    margin-top: 330px;
}

@media only screen and (max-width:450px) {
    .main {
        grid-template-columns: auto;
        margin-top:  calc(-5*var(--padding));
    }



}


