.main { 
    margin: auto;
    margin-top: -180px;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 16px;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;

}
.imgs{
   width: 100%; 
   height: 300px;  
   z-index: -1;
}
.homePage {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 16px;
    font-size: 30px;
    text-align: center;
    height: 500px;
    background-color: white;
}



@media only screen and (max-width:768px) {
    .main {
        grid-template-columns: auto;
        margin-top: -150px;
    }



}


