.tweetText {
  padding: 16px;
  border-radius: 16px;
  margin: 16px 0px;
  background-color: #16202A;
  margin-left: 30%; 
  margin-right: 30%;
}

.fcontainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin: 2px;
}

.fitem2 {
  border-left: 0.2px solid white;
  border-right: 0.2px solid white;
}
.fitem3 {
  border-right: 0.2px solid white;
}

.prime{
  width: 100%;
  background-color: #324251;
  padding: 16px;
  margin: 0px;
  color: white;
}

.tweetTextSub{
  padding-right: 25%;
}
 .date{ 
  margin-left: 25%;
} 

.userid {
  font-size: small;
  color: #324251 ;
  margin: 2px;
}

.supreme{
  display: flex;
}

